<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : MetroBiz 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140207

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Momus</a></h1>
			<span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Overview</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Get Extension</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
<div id="wrapper3">
<div id="three-column" class="container">
	<div><span class="arrow-down"></span></div>
	<div id="tbox1"> <span class="icon icon-wrench"></span>
		<div class="title">
			<h2>What is Momus?</h2>
		</div>
		<p>Momus is a free Google plugin designed to detect sarcasm.</p>
		<a href="#" class="button">Get Extension</a> </div>
	<div id="tbox2"> <span class="icon icon-cogs"></span>
		<div class="title">
			<h2>Problem</h2>
		</div>
		<p>Individuals with autism spectrum disorders find it challenging to understand sarcasm, which is usually conveyed through tone, facial expression, and understanding of the topic being discussed. Instead, people with autism tend to take sarcastic speech literally, often leading to miscommunication and awkwardness. 
This is especially a problem in online spaces, where sarcasm is frequently used as a way of teasing and joking. It is harder for tone to come across correctly over text, and there is a lack of facial expressions that can aid understanding in real life. </p>
		<a href="#" class="button">Learn More</a> </div>
	<div id="tbox3"> <span class="icon icon-legal"></span>
		<div class="title">
			<h2>Solution</h2>
		</div>
		<p>We created an extension called Momus (named after the Greek god of satire) that highlights all sarcastic text on a web page, to improve the understanding and clarity of online conversations for individuals with autism. We aim to reduce confusion and misinterpretation in order to faciliate better dialogue online. </p>
		<a href="#" class="button">Learn More</a> </div>
</div>	<div id="portfolio" class="container">
		<div class="title">
			<h2>Vivamus fermentum nibh</h2>
			<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
		<div class="column1">
			<div class="box"> 
				<h3>Vestibulum venenatis</h3>
				<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column2">
			<div class="box">
				<h3>Praesent scelerisque</h3>
				<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column3">
			<div class="box">
				<h3>Donec dictum metus</h3>
				<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column4">
			<div class="box">
				<h3>Mauris vulputate dolor</h3>
				<p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
	</div>
</div>
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
